.other{
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
    color: #242424;
}

.other-line{
    margin-top: 20px;
}

@media (min-width: 860px){

    .other-flex{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

}
